* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.quicksand-uniquifier {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #f9faff;
}

/* nav */
nav {
    padding: 15px 50px !important;
}

.hamburger {
    background-color: white;
    font-size: 24px;
    font-weight: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    margin-right: 17px;
}

.hamburger:hover {
    background-color: white;
}

.logo {
    max-height: 28px;
    cursor: pointer;
}

/* offcanvas */
.btn-close {
    background-color: #f9faff;
    opacity: 2;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0px !important;
}

.btn-close:hover {
    /* background-color: ; */
    color: black;
    transform: rotate(360deg);
    transition-duration: 800ms;
}

.offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.offcan-logo {
    max-height: 28px;
}

.offcanvas {
    padding: 44px 50px 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    transition-duration: 500ms;
    border: none;
}

.offcanvas.offcanvas-start {
    width: 391px;
}

.offcan-icons {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
}

.ics {
    margin-right: 14px;
}

.offcan-icons:hover {
    color: grey;
    cursor: pointer;
    transition-duration: 400ms;
}

.phone-no {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 0px !important;

}

.phone-no:hover {
    color: grey;
    transition-duration: 400ms;
}


.body-offcan {
    padding: 0px 10px;
}





.offcan-icons2 {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
}

.offcan-icons2:hover {
    color: grey;
    transition-duration: 400ms;
    cursor: pointer;
}

hr {
    border: 1px solid gray;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-top: 23px;
    margin-right: 20px;
    cursor: pointer;
}

.elements {
    list-style: none;
    font-size: 15px;
    font-weight: 700;
}

.btn-search {
    font-size: 24px;
    font-family: "fontello";
}

.talk-btn {
    font-size: 15px;
    font-weight: 700;
    padding: 12px 40px;
    border-radius: 30px;
    color: white;
    background-color: #f9335a;
    border: 1px solid #f51843;
    box-shadow: 0 7px 25px rgba(245, 24, 67, 0.3);
    margin-right: 20px !important;

}

.talk-btn:hover {
    background-color: #f51843;
    transition-duration: 400ms;
}

.nav-items :first-child {
    border-bottom: 2px solid black;
}